<!DOCTYPE html>
<html>

<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

  <h1>Star Store</h1>

  <div class="produtos">
    <% for (let produto of produtos) { %>
    <div class="card">
      <img src="/<%= produto.imagem %>" class="card-img-top" alt="Product Image" height="450" width="400">
      <div class="card-body">
        <h3 class="card-title"><%= produto.nome %></h3>
        <p class="card-text text-break"><%= produto.descricao %></p>
        <p class="fw-bold fs-5">R$<%= produto.preco %></p>
        <a href="/produtos/<%= produto.id %>">Conheça o produto</a>
      </div>
    </div>
    <% } %>
  </div>

</body>

</html>
